body{
	background-color:#f9f9f9;
	font-size:16px;
	color:#444;
	font-family: sans-serif;
}
 
.content{
	width: 80%;
	margin: 10px auto;
}

/*header*/
header{
	background-color: white;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
header h1.judul,
header h3.deskripsi{
	text-align: center;	
}
 
/*menu navigasi*/
.menu{
	background-color: #87CEFA;
	border: 1px solid #f0f0f0;
	border-radius: 8px;	
	margin-bottom: 10px;
}
 
div.menu ul {
	list-style:none;
	overflow: hidden;
}
 
 
div.menu ul li {
	float:left;		
	text-transform:uppercase;
}
 
div.menu ul li a {
	display:block;	
	padding:0 20px;
	text-decoration:none;
	color:#2c2c2c;
	font-family: sans-serif;
	font-size:13px;
	font-weight:400;
	transition:all 0.3s ease-in-out;
}
 
div.menu ul li a:hover,
div.menu ul li a.hoverover {	
	cursor: pointer;	
	color:#fff;
}
 
 
div.badan{
	background-color: white;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
    
}
 
div.halaman{
	text-align: center;
	padding: 30px 20px;	
}

h1{
    font-family: sans-serif;
  }
   
  table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
    margin: auto;
    width: 60%;
    padding: 10px;
  }
   
  table th {
    padding: 15px 35px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
  }
   
  table th:first-child{  
    border-left:none;  
  }
   
  table tr {
    text-align: center;
    padding-left: 20px;
  }
   
  table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
  }
   
  table td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }
   
  table tr:last-child td {
    border-bottom: 0;
  }
   
  table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
   
  table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
   
  table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }